<p>xNeus 是一个 Hacker News-like 的关于分享VR资讯，并且鼓励深度讨论的社区，主要服务于VR爱好者，相关从业人员以及感兴趣的创意人士。希望 xNeus 可以成为您了解VR相关资讯的第一选择。</p>

<p>希望大家可以多多分享与交流和VR相关的有趣资讯，包括以及不限于最新的行业动向与发展，好玩的VR游戏与应用，精彩的VR视频与创意。在这里得到一些有价值的信息甚至交到新的朋友，寻找到新的机会与灵感。</p>

<p>以下是一些基本的规则以及一些鼓励性建议：</p>

<ul>
  <li>投稿时请尽量填写文章的原始地址，我们尊重内容创造者的劳动。</li>
  <li>请不要分享任何盗版信息以及讨论如何获取盗版内容，譬如盗版VR游戏，VR视频之类。</li>
  <li>如果您喜欢某篇资讯，请点击标题左侧的箭头，这将会提高这篇资讯的排名，让更多的人容易看到。同时，您也可以点击标题下方的按钮，分享到不同的社交网络让更多人看到此资讯并参与讨论。</li>
  <li>这里尊重和鼓励有质量的原创评论，不欢迎诸如“顶”，“沙发”之类无营养评论。</li>
  <li>任何投稿以及评论请遵守您所在地的法律，以及目前网站所在服务器(美国)的法律。</li>
  <li>xNeus支持RSS订阅，如果您是RSS重度用户，欢迎您订阅我们。</li>
  <li>如果您认可xNeus，欢迎推荐给您可能感兴趣的好朋友让更多的人知道。</li>
</ul>

<p>如果您需要更多帮助或者对于本站有任何建议，请发送邮件至<a href="mailto:&#097;&#100;&#109;&#105;&#110;&#064;&#120;&#110;&#101;&#117;&#115;&#046;&#099;&#111;&#109;">&#097;&#100;&#109;&#105;&#110;&#064;&#120;&#110;&#101;&#117;&#115;&#046;&#099;&#111;&#109;</a>。</p>


