<p>您好，尊敬的用户 <%= @resource.name %>!</p>

<p>请点击下面的链接修改您的密码:</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您并未要求重置密码，请忽略此封邮件</p>
<p>再您点击上面链接重置密码前，您的密码将不会被更改.</p>
